@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.offrePage {
  /* background-color: #3c3c3c; */
  
  width: 100%;
  height : 100%;

  background-color: white !important;

  font-family: 'Montserrat' !important;
  z-index : 1;
}


.offreTitle {
  color: #3F981C;
  
  font-family: "Montserrat" !important;
  text-align: center;
  font-size: var(--font-size-titre-grande) !important;
  font-weight: 700 !important;
  padding-top: 60px;
  padding-bottom : 50px;
  line-height: 72px;
  letter-spacing: 15% !important;
  text-decoration :none ;
}


.cardOffre {
  
  width: 50px;
  height: 55px;
  box-shadow: 0px 3px 9px #00000029;
  text-align: center;
  margin: 0 auto;
  margin-bottom : 5%;
  
  padding-bottom: 100px;

}

.cardOffre img {
  width: 75%;
  height: auto;
}




.cardTitle {
  color : #79B65D;
  font-family: "Montserrat" !important;
  
  text-align: center;
  font-weight: 900 !important;
  font-size: 26px !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase;
}


.plats-card-offre {
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding-top: 2vh;
  margin-bottom : 30px;
  
}

.slider-card-offre {
  padding-top: 1vh;
  margin-bottom: 2px;
  
}

@media screen and (max-width : 1280px) {

  .offreTitle {
    color: #3F981C;
    
    font-family: "Montserrat" !important;
    text-align: center;
    font-size: 40px !important;
    font-weight: 700 !important;
    padding-top: 50px;
    padding-bottom : 0px;
    line-height: 72px;
    letter-spacing: 15% !important;
    text-decoration :none ;
  }
  
  
  
  .cardOffre {
    
    width: 500px;
    height: 380px;
    box-shadow: 0px 3px 9px #00000029;
    text-align: center;
    
    margin: 0 auto;
    margin-bottom : 5%;
    
    padding-bottom: 100px;
  
  }
  
  .cardOffre img {
    width: 75%;
    height: 70%;
  }

  .plats-card {
    width : 90%;
  }

}



/* for w < 600 */
@media  screen and (max-width: 600px) {
  .offreTitle {
    font-size: 40px;
  }


  .plats-card-offre {

    display : flex;
    flex-wrap: wrap;
    flex-direction : column;

  }
  
  .galerieTitle {
    font-size: 40px!important;
  }

  .cardOffre {
    width: 90%;
    height: 400px;
    
    text-align: center;
   
    margin: 0 auto;
    margin-bottom : 2%;
    
   

    box-shadow: 0px 3px 9px #00000029;
    text-align: center;
    
    margin: 0 auto;
    margin-bottom : 5%;
    
      
  }
  
  .cardOffre img {
    width: 50%;
    height: auto;
  }
}



