.Page_Formulaire {
    text-align : center;

    width : 50%;
    margin-left : 25% ;
    margin-top : 100px;

    
}

.Formulaire {

    padding : 50px;
    background-color: #D1E1BF;

}

select, input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 14px;
}
  
.label, section > label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}
  
input[type="submit"], .button {
    position: relative;
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 4px;
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
    font-weight: lighter;
    transition: 0.3s all;
}
  
.buttonBlack {
    background: black;
    border: 1px solid white;
}
  

  
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
  
.counter {
    font-weight: 400;
    background: white;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 9999999;
}
  

  
input[type="submit"]:active {
    transition: 0.3s all;
    top: 2px;
}
  
.preact {
    opacity: 0;
    color: white;
}
  
.preact:hover {
    opacity: 1;
}
  