.Container_Loc{
    height: 100%;
    width: 100%;
    background: url("../../../images/wave.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    position: relative;
}


.Text_Loc h5 {
    font-size : 3em;
    font-weight : bold;

}


.Text_Loc {
    height: 40%;
    font-size: 1em;
    font-family: Montserrat;
    text-align: left;
    
    color: white;

    width: 250px;
    height: 203px;
    text-align: left;
    margin-left : 40px;
    
}


.localisation_img {

    width : 450px;
    height : 400px;
}


/* Responsive */

@media screen and (max-width: 500px) {

    
    .Container_Loc{
        top : 100px;
        height: 80%;
        width: auto;
        background: url("../../../images/wave.png");
        background-size: cover;
        background-repeat: no-repeat;
        
        position: relative;
    }
    
    
    .Text_Loc h5 {
        font-size : 2em;
        font-weight : bold;
    
    }
    
    
    .Text_Loc {
        font-size: 1em;
        font-family: Montserrat;
        text-align: left;
        
        color: white;
    
        margin-top : -100px;
        text-align: left;
        
    }
    
    
    .localisation_img {
    
        width : 250px;
        height : 250px;
    }

}