.Grid_Container{
    height: 100%;
    width: 100%;
    background: url("../../../images/fond_acceuil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.commanderHeader {
    text-decoration: none;
    color: #79B65D;
}

.commanderHeader:hover {
    color: #79B65D;
    text-decoration: none;
}

.Div_Text_Header{
    height: 40%;
    font-size: 7em;
    font-family: Montserrat;
    text-align: left;
    
    color: #FFFFFF;
    margin: 0 auto;

    top: 361px;

    width: 1000px;
    height: 113px;
    text-align: left;
    font: normal normal bold 93px/113px ;
    
}

#Btn_Prise_Rdv{
    font-size: 16px!important;
    
    color: #FFFFFF;
    border-color : white;
    font-family: Montserrat;

    margin-top : 10%;
    margin-left : 50px;
    width: 250px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 49px;
    opacity: 1;
}


#Btn_Prise_Rdv:hover {
    background-color: rgb(230, 255, 223);

}

#Btn_Service{
    font-size: 16px!important;
    
    color: #FFFFFF;
    border-color : white;
    font-family: Montserrat;

    padding: 8px 30px;    

    margin-top : 10%;
    left: 150px;
    width: 180px;
    height: 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 49px;
    opacity: 1;
}


#Btn_Service:hover {
    background-color: rgb(230, 255, 223);

}

/* responsive */


/* for w < 960 or h < 730 */
@media screen and (max-width: 960px) , (max-height: 800px) {

    #Btn_Prise_Rdv{
        font-size: var(--font-size-button-mobile);
        padding: 8px 20px;  
    }
}

/* -------------- WIDTH --------------------- */
/* w <= 1104 */
@media screen and (max-width: 1104px) {
    .Div_Text_Header {
       font-size: 5em;
       margin-top: -10vh;
    }
}



/* 746 <= w <= 1104 */
@media screen and (max-width: 746px) {
    .Div_Text_Header {
       font-size: 4em;
       margin-top: -10vh;
    }

    #Btn_Prise_Rdv{
    font-size: 16px!important;
    
    color: #FFFFFF;
    border-color : white;
    font-family: Montserrat;

    margin-top : 10%;
    margin-left : 0px;
    width: 250px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 49px;
    opacity: 1;
}
}

@media screen and (max-width: 608px) {
    .Div_Text_Header {
       font-size: 3em;
       margin-top: -2vh;
    }
}

@media screen and (max-width: 514px) {
    .Div_Text_Header {
       font-size: 2em;
       margin-top: 9vh;
    }
}

/* -------------- MIN WIDTH 332 --------------------- */


/* -------------- HEIGHT -------------- */

@media only screen and (max-width: 514px) and (max-height: 540px) {
    .Div_Text_Header {
        font-size: 2em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 514px) and (max-width: 595px) and (max-height: 596px) {
    .Div_Text_Header {
        font-size: 3em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 514px) and (max-width: 595px) and (max-height: 515px) {
    .Div_Text_Header {
        font-size: 2em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 595px) and (max-width: 1104px) and (max-height: 790px) {
    .Div_Text_Header {
        font-size: 4em;
        margin-top: -16vh;
    }
}

@media only screen and (min-width: 595px) and (max-width: 1104px) and (max-height: 645px) {
    .Div_Text_Header {
        font-size: 3em;
        margin-top: -16vh;
    }
}

@media only screen and (min-width: 595px) and (max-width: 1104px) and (max-height: 540px) {
    .Div_Text_Header {
        font-size: 2em;
        margin-top: -16vh;
    }
}

@media only screen and (min-width: 1104px) and (max-height: 893px) {
    .Div_Text_Header {
        font-size: 6em;
        margin-top: -40vh;
    }
}

@media only screen and (min-width: 1104px) and (max-height: 741px) {
    .Div_Text_Header {
        font-size: 4em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 1104px) and (max-height: 626px) {
    .Div_Text_Header {
        font-size: 3em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 1104px) and (max-height: 529px) {
    .Div_Text_Header {
        font-size: 2em;
        margin-top: -16vh;
    }
}




/* -------------- MIN HEIGHT 550 -------------- */

/* -------------- WIDTH AND HEIGHT  --------------------- */

/* -------------- MIN WIDTH AND HEIGT --------------------- */

