#Container{
    height: 100%;
    width: 100%;
    background-color : white;
 
    position: relative;
}

.prendreRDV {
    text-decoration: none;
    color: white;

}

.prendreRDV:hover {
    color: white;
}

.Text h5 {

    font-size : 3em;
    font-weight : bold;

}


.Text{
    height: 40%;
    font-size: 1em;
    font-family: Montserrat;
    text-align: left;
    
    color: #3F981C;
    margin: 0 auto;
    margin-top: -32vh;

    top: 361px;
    left: 200px;
    width: 1000px;
    height: 113px;
    text-align: center;
    font: normal normal bold 93px/113px ;
    letter-spacing: 0px;
    
}


#Btn_Reserver_Test{
    font-size: 14px!important;

    background-color: #79B65D!important;
    border-color : white;
    font-family: Montserrat;
   
    padding: 8px 30px;    

    margin-top : 4%!important;
    left: 155px;
    width: 240px!important;
    height: 70px!important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 49px;
    opacity: 1;
}


#Btn_Reserver_Test:hover {
    background-color: #a0e282!important;

}

/* responsive */
#header {
    height: 100vh;
    position: relative;
    z-index: 5;
}

/* for w < 960 or h < 730 */
@media screen and (max-width: 960px) , (max-height: 800px) {

    #Btn_Prise_Rdv{
        font-size: var(--font-size-button-mobile);
        padding: 8px 20px;  
    }
}

/* -------------- WIDTH --------------------- */
/* w <= 1104 */
@media screen and (max-width: 1104px) {
    .Div_Text_Header {
       font-size: 5em;
       margin-top: -10vh;
    }
}
/* 746 <= w <= 1104 */
@media screen and (max-width: 746px) {
    .Div_Text_Header {
       font-size: 4em;
       margin-top: -10vh;
    }
}

@media screen and (max-width: 608px) {
    .Div_Text_Header {
       font-size: 3em;
       margin-top: -2vh;
    }
}

@media screen and (max-width: 514px) {
    .Div_Text_Header {
       font-size: 2em;
       margin-top: 9vh;
    }
}

/* -------------- MIN WIDTH 332 --------------------- */


/* -------------- HEIGHT -------------- */

@media only screen and (max-width: 514px) and (max-height: 540px) {
    .Div_Text_Header {
        font-size: 2em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 514px) and (max-width: 595px) and (max-height: 596px) {
    .Div_Text_Header {
        font-size: 3em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 514px) and (max-width: 595px) and (max-height: 515px) {
    .Div_Text_Header {
        font-size: 2em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 595px) and (max-width: 1104px) and (max-height: 790px) {
    .Div_Text_Header {
        font-size: 4em;
        margin-top: -16vh;
    }
}

@media only screen and (min-width: 595px) and (max-width: 1104px) and (max-height: 645px) {
    .Div_Text_Header {
        font-size: 3em;
        margin-top: -16vh;
    }
}

@media only screen and (min-width: 595px) and (max-width: 1104px) and (max-height: 540px) {
    .Div_Text_Header {
        font-size: 2em;
        margin-top: -16vh;
    }
}

@media only screen and (min-width: 1104px) and (max-height: 893px) {
    .Div_Text_Header {
        font-size: 6em;
        margin-top: -40vh;
    }
}

@media only screen and (min-width: 1104px) and (max-height: 741px) {
    .Div_Text_Header {
        font-size: 4em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 1104px) and (max-height: 626px) {
    .Div_Text_Header {
        font-size: 3em;
        margin-top: -20vh;
    }
}

@media only screen and (min-width: 1104px) and (max-height: 529px) {
    .Div_Text_Header {
        font-size: 2em;
        margin-top: -16vh;
    }
}




/* -------------- MIN HEIGHT 550 -------------- */

/* -------------- WIDTH AND HEIGHT  --------------------- */

/* -------------- MIN WIDTH AND HEIGT --------------------- */

