@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.NosOffresTitle {

  background-color:#D1E1BF;

  color: #3F981C;
  font-family: "Montserrat" !important;
  text-align: center;
  font-size: 50px;
  font-weight: 700 !important;
  padding-top: 100px;
  
  
  text-decoration: none;
  padding-bottom: 1%;

}

#Nosoffres {

  background-position: center;
  padding-top : 1.5em;
  display: flex;
  justify-content: center;
  
}



.cards__items_offres {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 23vh;
  padding-right: 15vh;
}

.offre_img {
  margin-left : 10vh;
}

@media  screen and (max-width: 1930px) {
  .cards__items_offres {
    margin-bottom: 22vh;
    width: 63%;
  }
  .offre_img {
    height: 300px;
    width: 300px;
  }
}
@media  screen and (max-width: 1540px) {
  .cards__items_offres {
    margin-bottom: 18vh;
    width: 65%;
  }
  .offre_img {
    height: 300px;
    width: 300px;
  }
}
/* Responsive ipad */
@media (max-width:1030px) and (max-height:1370px){
  .cards__items_offres {
    margin-bottom: 18vh;
    width: 80%;
  }
  .cards__items_offres {
    margin-bottom: 9vh;
  }
  .offre_img {
    height: auto;
    width: 400px;
  }
}

/* ipad pro*/
@media (max-width:820px) and (max-height:1180px){
  .cards__items_offres {
    margin-bottom: 18vh;
    width: 80%;
  }
  .cards__items_offres {
    margin-bottom: 9vh;
  }
  .offre_img {
    height: 190px;
    width: 190px;
  }
}
@media only screen and (max-width: 1080px) {
  
  #Nosoffres {
    height: 50vh;
  }

  
}


@media only screen and (max-width: 800px) {
 

  .cards__items_offres {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    margin-bottom: 5vh;
    padding-top: 15%;
  }

  .offre_img {
    height: 220px;
    width: 220px;
  }
}

@media only screen and (max-width: 415px) {

  #Nosoffres {
    padding-top : 0em;
    margin-top : -30px!important;
  }
  
  .offre_img {
    height: 150px;
    width: 150px;
  }

  .NosOffresTitle {

    height : 800px;
    padding-top : 20px;
    font-size: 40px;
  }

  .NosOffresTitle p {
    font-size : 30px;
  }

}