@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.galeriePage {
  /* background-color: #3c3c3c; */
  
  width: 100%;
  height : 100%;

  padding-top: 70px;
  background-color: white !important;

  font-family: 'Montserrat' !important;
  z-index : 1;
}

.galerieTitle {
  color: #3F981C;
  
  font-family: "Montserrat" !important;
  text-align: center;
  font-size: var(--font-size-titre-grande) !important;
  font-weight: bold !important;
  padding-top: 50px;
  padding-bottom : 50px;
  line-height: 72px;
  letter-spacing: 15% !important;
  text-decoration :none ;
}


.cardTitle {
  color : #79B65D;
  font-family: "Montserrat" !important;
  
  text-align: center;
  font-weight: 900 !important;
  font-size: 26px !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase;
}
.cardGalerie {
  width: 537px;
  height: 558px;
  box-shadow: 0px 0px 0px white !important;
  text-align: center;
 
  margin: 0 auto;
  margin-bottom : 5%;
  
  padding-bottom: 100px;

}

.cardGalerie img {
  width: auto;
  max-height: 100%;
}

.cardText {
  font-size : 17px!important;
}


.plats-card-galerie {

  display: flex;
  margin: 0 auto;
  width: 85%;
  padding-top: 2vh;

}
/* Responsive */


#galerie {
  height: max-content;
  position: relative;
  z-index: 2;
}



/* for w < 1280 */
@media  screen and (max-width: 1280px) {
  .galerieTitle {
    font-size: var(--font-size-titre-moyenne) !important;
    padding-bottom : 30px;
  }

  .cardGalerie {
    width: 450px;
    height: 450px;
    box-shadow: 0px 0px 0px white !important;
    text-align: center;
   
    margin: 0 auto;
    margin-bottom : 5%;
    
    padding-bottom: 100px;
  
  }
  
  .cardGalerie img {
    width: 60%;
    height: 60%;
    margin-bottom: 30px;
  }


}

/* for w < 960 or h < 730 */
@media  screen and (max-width: 428px){
  
  .plats-card-galerie {

    display : flex;
    flex-wrap: wrap;
    flex-direction : column;

  }
  
  .galerieTitle {
    font-size: 40px!important;
  }

  .cardGalerie {
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 0px white !important;
    text-align: center;
   
    margin: 0 auto;
    margin-bottom : 2%;
    
    padding-bottom: 10px;
      
  }
  
  .cardGalerie img {
    width: 30%;
    height: auto;
  }


}

